discord==1.0.1
discord.py==1.6.0
enum34==1.1.10
enum-tools==0.6.4
numpy==1.19.5
Pillow==8.1.0
ChatterBot==1.0.4
chatter-corpus==1.2.0
tensorflow==2.5.0
tensorflow-gpu==2.5.0
tensorflow-estimator==2.5.0
keras==2.4.3
